body {
    color: white;
    font-family: 'Courier Prime', monospace;
    background-image: url(https://images.unsplash.com/photo-1518156677180-95a2893f3e9f?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=80&raw_url=true&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    padding: 50px 0;;
}

.centered-div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

a {
    text-decoration: none;
    color: lightblue;
}

.link-div {
    margin-top: 50px;
}

a:hover {
    color: orange;
}

img {
    border-radius: 50%;
    width: 150px;
    margin-bottom: 50px;
}
